@import './variables.scss';

html, body {
    height: 100%;
    min-height: 100%;
}
body {
    color: #000;
    font-size:16px;
    line-height:24px;
    font-weight:400;
    margin: 0;
    padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
	input, button, select {
		@media (min-width: $small) {
			font-size: 1.2rem;
		}
	}
	input {
		padding: 0.5rem;
		max-width: 50%;
	}
	select {
		padding: 1rem;
	}
}

button {
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	background-color: $blue;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	&:hover {
		background-color: lighten($blue, 25%);
	}
}